# Compiled Object files
*.slo
*.lo
*.o
target/

### WE DO NOT IGNORE compiled libraries, as they are the whole point of this GIT repo !!!


# Compiled Dynamic libraries
# *.so
# *.dylib

# Compiled Static libraries
# *.lai
# *.la
# *.a
